    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @{
            ViewBag.Title = "AddProduct";
        }

    </head>

<body>



    <div class="row" style='padding-top:10px;'>

        <div class="col-xs-6 col-sm-4 col-md-3" style='padding: 5px;'>
            <div class="col-xs-12 panel panel-default" style="margin-bottom:0px; margin-top:0px; padding: 5px; border: solid 1px black;">
                <div class="panel-body" style="padding: 0px;">
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="padding: 0px; width: 100px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <img style="width:150px; height:150px;" src="/Content/Images/book.jpg" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <a class="btn btn-default btn-lg" style="width:200px;" href="/Book/CreateBook">Добавить книгу</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3" style='padding: 5px;'>
            <div class="col-xs-12 panel panel-default" style="margin-bottom:0px; margin-top:0px; padding: 5px; border: solid 1px black;">
                <div class="panel-body" style="padding: 0px;">
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="padding: 0px; width: 100px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <img style="width:150px; height:150px;" src="/Content/Images/phone.jpg" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <a class="btn btn-default btn-lg" style="width:200px;" href="/Phone/CreatePhone">Добавить телефон</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3" style='padding: 5px;'>
            <div class="col-xs-12 panel panel-default" style="margin-bottom:0px; margin-top:0px; padding: 5px; border: solid 1px black;">
                <div class="panel-body" style="padding: 0px;">
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="padding: 0px; width: 100px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <img style="width:150px; height:150px;" src="/Content/Images/tv.jpg" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <a class="btn btn-default btn-lg" style="width:200px;" href="/TV/CreateTv">Добавить TV</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3" style='padding: 5px;'>
            <div class="col-xs-12 panel panel-default" style="margin-bottom:0px; margin-top:0px; padding: 5px; border: solid 1px black;">
                <div class="panel-body" style="padding: 0px;">
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="padding: 0px; width: 100px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <img style="width:150px; height:150px;" src="~/Content/Images/headphones.jpg" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px; height:50px; text-align: center; vertical-align: middle; border:none;">
                                <a class="btn btn-default btn-lg" style="width:200px;" href="/Headphones/CreateHeadphones">Добавить наушники</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>