@{
    ViewBag.Title = "Contact";
}

<head>
    <style>
        p {
            font-size: 15px;
            padding: 0px;
            margin: 0px;
        }
        .hrVersion1 {
            padding: 0px;
            margin-left: -5px;
            margin-right: -5px;
            margin-top: 5px;
            margin-bottom: 4px;
            height: 1px;
            border: none;
            border-top: 1px dashed #808080;
        }
    </style>
</head>
<body>
    <div class="row" style='padding-top:10px;'>
        <div class="col-sm-12" style='padding: 5px;'>
            <div class="col-sm-12 panel panel-default" style="margin-bottom:0px; margin-top:0px; padding: 5px; border: solid 1px black;">
                <div class="panel-body" style="padding: 0px;">
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <h3 style="margin-top:10px; margin-bottom:10px;">
                                    Консультации и заказ по телефонам
                                </h3>
                            </td>
                        </tr>
                    </table>
                    <hr class="hrVersion1" />
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="text-align:center; width:50%;border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>Телефоны:</b>
                                </h4>
                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>График работы коло-центра</b>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">

                                <p>(044) 537-02-22</p>
                                <p>(044) 503-80-80</p>
                                <p>0-800-303-344</p>

                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <p><b>с 8:00 до 21:00</b></p>
                                <p>В субботу: с 9:00 до 20:00</p>
                                <p>В воскресенье: с 10:00 до 19:00</p>
                            </td>
                        </tr>
                    </table>
                    <hr class="hrVersion1" />
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="padding: 0px; text-align: center; vertical-align: middle; border:none;">
                                <img style="width:100%;" src="~/Content/Images/karta.jpg" />
                            </td>
                        </tr>
                    </table>
                    <hr class="hrVersion1" />
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="text-align:center; width:50%;border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>Магазины и точки выдачи</b>
                                </h4>
                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>График работы:</b>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <p>Магазин №1, ул. Магазинная 1.</p>
                                <p>Магазин №2, ул. Магазинная 2.</p>
                                <p>Магазин №3, ул. Магазинная 3.</p>

                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <p><b>с 8:00 до 21:00</b></p>
                                <p>В субботу: с 9:00 до 20:00</p>
                                <p>В воскресенье: с 10:00 до 18:00</p>
                            </td>
                        </tr>
                    </table>
                    <hr class="hrVersion1" />
                    <table class="table" style="margin:0px;">
                        <tr>
                            <td style="text-align:center; width:50%;border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>Сервисный отдел</b>
                                </h4>
                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <h4 style="margin-top:10px; margin-bottom:10px;">
                                    <b>График работы:</b>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <p><b>(044) 364-83-65</b></p>
                                <p>Магазин №1, ул. Магазинная 1.</p>

                            </td>
                            <td style="text-align:center; border:none; margin:0px; padding:0px;">
                                <p><b>с 8:00 до 21:00</b></p>
                                <p>В воскресенье: с 10:00 до 18:00</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

